<!--
    Entry point for GUI and app

    @author Alexandre CHAU <code@chau.moe>
-->

<html>

<head>
    <title>Curtain</title>
    <script src="../controllers/app.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/jquery-ui-dist/jquery-ui.min.css">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
</head>

<body>

    <div id="nav">
        <a>
            <i class="fas fa-sliders-h fa-3x"></i>
            <p>Console</p>
        </a>
        <a>
            <i class="fas fa-stopwatch fa-3x"></i>
            <p>Timeline</p>
        </a>
        <a>
            <i class="fas fa-cog fa-3x"></i>
            <p>Settings</p>
        </a>
    </div>

</body>

</html>