<!--
    Entry point for GUI and app

    @author Alexandre CHAU <code@chau.moe>
-->

<html>

<head>
    <title>Curtain</title>

    <link rel="stylesheet" type="text/css" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/jquery-ui-dist/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="../controllers/App.js"></script>
</head>

<body>

    <div id="nav">
        <div class="padded">
            <a id="nav-console-button">
                <i class="fas fa-sliders-h fa-3x"></i>
                <p>Console</p>
            </a>
            <a id="nav-timeline-button">
                <i class="fas fa-stopwatch fa-3x"></i>
                <p>Timeline</p>
            </a>
            <a id="nav-timeline-settings">
                <i class="fas fa-cog fa-3x"></i>
                <p>Settings</p>
            </a>
        </div>
    </div>

    <div id="content"></div>

</body>

</html>