/*  GUI styling for Curtain
 *
 *  @author Alexandre CHAU <code@chau.moe> */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #2b2b2b;
  color: #fff;
  font: normal 12px "Open Sans", Arial, Helvetica, sans-serif;
}

p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h3 {
  color: #ccc;
  font-weight: normal;
}

button {
  float: left;
  display: block;
  background: #004d84;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.padded {
  padding: 10px;
}

.padded-15 {
  padding: 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#nav {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 100%;
  text-align: center;
  box-shadow: 0 0 4px #000;
}
#nav i {
  margin-bottom: 10px;
}
#nav a {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#content {
  float: left;
  position: absolute;
  left: 74px;
  text-transform: uppercase;
  height: 100%;
  width: calc(100% - 74px);
  background: #111;
}

#toolbar {
  float: left;
  background: #2b2b2b;
  height: 55px;
  width: 100%;
}
#toolbar h3 {
  padding: 10px;
}

#console {
  float: left;
  width: 100%;
}

#library {
  width: 100%;
}
#library #library_brands, #library #library_models, #library #library_variations {
  float: left;
  width: 28%;
  height: 300px;
  overflow-y: auto;
  margin: 0 1%;
  border: 1px solid;
}
#library #library_brands a, #library #library_models a, #library #library_variations a {
  padding: 5%;
  display: block;
  width: 90%;
}
#library input {
  display: block;
  float: left;
  padding: 10px;
  margin: 10px;
  width: 150px;
}

#devices-panel {
  float: left;
  width: calc(100% - 10px);
  height: calc(100% - 75px);
  overflow: auto;
  margin: 10px;
}

.device {
  float: left;
  background: #2b2b2b;
  box-shadow: 0 0 5px #000;
  padding: 10px;
  margin: 10px;
}
.device h3 {
  color: #ff7f00;
}
.device p {
  font-size: 10px;
}
.device .close {
  float: right;
  padding: 0;
}
.device .channel_box {
  float: left;
  text-align: center;
  margin: 0;
  width: 40px;
}
.device .channel_box .slider {
  height: 100px;
  margin: 10px auto;
}
.device .channel_box p {
  float: left;
  display: block;
  width: 100%;
}